.segment .totalcurso{
    color: #00b5ad;
    float: right;
    font-weight: 500;
    font-size: 21px;
}

.link{
    float: right;
    font-size: 14px;
}
.avatar{
    -webkit-border-radius: 100px;/*Safari, Chrome*/
    -moz-border-radius: 100px;/*Firefox*/
    border-radius: 100px;
    width: 40%;
    height: auto;
}

/* .rowfix table {
    width: 100%;
}

.rowfix thead, .rowfix tbody, .rowfix tr, .rowfix td, .rowfix th { display: block; }

.rowfix tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.rowfix thead th {
    height: 30px;

    text-align: left;
}
*/

.rowfix tbody {
    height: 120px;
    overflow-y: auto
}

.rowfix thead {
    /* fallback */
} */

.rowfix tbody td, .rowfix thead th {
    width: 8.3%;
    float: left;
}

.text-center{
    text-align: center !important;
}

